<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
	<li class="breadcrumb-item active"><a href="javascript:;">Data</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Page Header <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4 class="panel-title">Panel Title here</h4>
		<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
		</div>
	</div>
	<div class="panel-body">
		Panel Content Here
	</div>
</div>
<!-- end panel -->
		
	
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
	App.setPageTitle('Color Admin | Home');
	App.restartGlobalFunction();

	/* Sample of how to include page plugins
	$.when(
		$.getScript('../assets/plugins/gritter/js/jquery.gritter.js'),
		$.getScript('../assets/plugins/flot/jquery.flot.min.js'),
		$.getScript('../assets/plugins/flot/jquery.flot.time.min.js'),
		$.getScript('../assets/plugins/flot/jquery.flot.resize.min.js'),
		$.getScript('../assets/plugins/flot/jquery.flot.pie.min.js'),
		$.getScript('../assets/plugins/sparkline/jquery.sparkline.js'),
		$.getScript('../assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js'),
		$.getScript('../assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js'),
		$.getScript('../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'),
		$.Deferred(function( deferred ){
			$(deferred.resolve);
		})
	).done(function() {
		$.getScript('../assets/js/demo/dashboard.min.js'),
		$.Deferred(function( deferred ){
			$(deferred.resolve);
		})
	});
	 */
</script>
<!-- ================== END PAGE LEVEL JS ================== -->
