<!-- begin #top-menu -->
<div id="top-menu" class="top-menu" ng-controller="topMenuController">
	<!-- begin top-menu nav -->
	<ul class="nav">
		<li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
			<a href="javascript:;">
				<i class="fa fa-th-large"></i>
				<span>Dashboard</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.dashboard.v1">Dashboard v1</a></li>
				<li ui-sref-active="active"><a ui-sref="app.dashboard.v2">Dashboard v2</a></li>
				<li ui-sref-active="active"><a ui-sref="app.dashboard.v3">Dashboard v3</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.email')}">
			<a href="javascript:;">
				<i class="fa fa-hdd"></i> 
				<span>Email</span>
				<span class="badge">10</span>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.email.inbox">Inbox</a></li>
				<li ui-sref-active="active"><a ui-sref="app.email.compose">Compose</a></li>
				<li ui-sref-active="active"><a ui-sref="app.email.detail">Detail</a></li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="app.widget">
				<i class="fab fa-simplybuilt"></i> 
				<span>Widgets <span class="label label-theme">NEW</span></span> 
			</a>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.ui')}">
			<a href="javascript:;">
				<i class="fa fa-gem"></i>
				<span>UI Elements <span class="label label-theme">NEW</span></span>
				<b class="caret"></b> 
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.ui.general">General <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.typography">Typography</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.tabsAccordions">Tabs & Accordions</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.unlimitedTabs">Unlimited Nav Tabs</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.modalNotification">Modal & Notification <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.widgetBoxes">Widget Boxes</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.mediaObject">Media Object</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.buttons">Buttons</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.icons">Icons</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.simpleLineIcons">Simple Line Icons</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.ionicons">Ionicons</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.tree">Tree View</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.languageBarIcon">Language Bar & Icon</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.socialButtons">Social Buttons</a></li>
				<li ui-sref-active="active"><a ui-sref="app.ui.tour">Intro JS</a></li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="app.bootstrap4">
				<div class="icon-img">
					<img src="../assets/img/logo/logo-bs4.png" alt="" />
				</div>
				<span>Bootstrap 4 <span class="label label-theme">NEW</span></span> 
			</a>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.form')}">
			<a href="javascript:;">
				<i class="fa fa-list-ol"></i>
				<span>Form Stuff <span class="label label-theme">NEW</span></span> 
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.form.elements">Form Elements <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li ui-sref-active="active"><a ui-sref="app.form.plugins">Form Plugins <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li ui-sref-active="active"><a ui-sref="app.form.sliderSwitcher">Form Slider + Switcher</a></li>
				<li ui-sref-active="active"><a ui-sref="app.form.validation">Form Validation</a></li>
				<li ui-sref-active="active"><a ui-sref="app.form.summernote">Summernote</a></li>
				<li ui-sref-active="active"><a ui-sref="app.form.dropzone">Dropzone</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.table')}">
			<a href="javascript:;">
				<i class="fa fa-table"></i>
				<span>Tables</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.table.basic">Basic Tables</a></li>
				<li class="has-sub" ng-class="{active:$state.includes('app.table.manage')}">
					<a href="javascript:;">Managed Tables <b class="caret"></b></a>
					<ul class="sub-menu">
						<li ui-sref-active="active"><a ui-sref="app.table.manage.default">Default</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.autofill">Autofill</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.buttons">Buttons</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.colReorder">ColReorder</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.fixedColumns">Fixed Columns</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.fixedHeader">Fixed Header</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.keyTable">KeyTable</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.responsive">Responsive</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.rowReorder">RowReorder</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.scroller">Scroller</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.select">Select</a></li>
						<li ui-sref-active="active"><a ui-sref="app.table.manage.combine">Extension Combination</a></li>
					</ul>
				</li>
			</ul>
		</li>
	   <li class="has-sub">
			<a href="javascript:;">
				<i class="fa fa-star"></i> 
				<span>Front End</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li><a href="../../../frontend/template/template_one_page_parallax/index.html" target="_blank">One Page Parallax</a></li>
				<li><a href="../../../frontend/template/template_blog/index.html" target="_blank">Blog</a></li>
				<li><a href="../../../frontend/template/template_forum/index.html" target="_blank">Forum</a></li>
				<li><a href="../../../frontend/template/template_e_commerce/index.html" target="_blank">E-Commerce</a></li>
			</ul>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<i class="fa fa-envelope"></i>
				<span>Email Template</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li><a href="views/email_system.html">System Template</a></li>
				<li><a href="views/email_newsletter.html">Newsletter Template</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
			<a href="javascript:;">
				<i class="fa fa-chart-pie"></i>
				<span>Chart <span class="label label-theme">NEW</span></span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
				<li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
				<li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
				<li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart</a></li>
				<li ui-sref-active="active"><a ui-sref="app.chart.apex">Apex Chart <i class="fa fa-paper-plane text-theme"></i></a></li>
			</ul>
		</li>
		<li ui-sref-active="active"><a ui-sref="app.calendar"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
		<li class="has-sub" ng-class="{active:$state.includes('app.map')}">
			<a href="javascript:;">
				<i class="fa fa-map"></i>
				<span>Map</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.map.vector">Vector Map</a></li>
				<li ui-sref-active="active"><a ui-sref="app.map.google">Google Map</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.gallery')}">
			<a href="javascript:;">
				<i class="fa fa-image"></i>
				<span>Gallery</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.gallery.v1">Gallery v1</a></li>
				<li ui-sref-active="active"><a ui-sref="app.gallery.v2">Gallery v2</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.options')}">
			<a href="javascript:;">
				<i class="fa fa-cogs"></i>
				<span>Page Options</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.options.pageBlank">Blank Page</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithFooter">Page with Footer</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithoutSidebar">Page without Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithRightSidebar">Page with Right Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithMinifiedSidebar">Page with Minified Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithTwoSidebar">Page with Two Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageFullHeightContent">Full Height Content</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithWideSidebar">Page with Wide Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithLightSidebar">Page with Light Sidebar</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithMegaMenu">Page with Mega Menu</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithTopMenu">Page with Top Menu</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithBoxedLayout">Page with Boxed Layout</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithMixedMenu">Page with Mixed Menu</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithBoxedMixedMenu">Boxed Layout with Mixed Menu</a></li>
				<li ui-sref-active="active"><a ui-sref="app.options.pageWithTransparentSidebar">Page with Transparent Sidebar</a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.extra')}">
			<a href="javascript:;">
				<i class="fa fa-gift"></i>
				<span>Extra</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.extra.timeline">Timeline</a></li>
				<li ui-sref-active="active"><a ui-sref="comingSoon">Coming Soon Page</a></li>
				<li ui-sref-active="active"><a ui-sref="app.extra.searchResults">Search Results</a></li>
				<li ui-sref-active="active"><a ui-sref="app.extra.invoice">Invoice</a></li>
				<li ui-sref-active="active"><a ui-sref="error">404 Error Page</a></li>
				<li ui-sref-active="active"><a ui-sref="app.extra.profile">Profile Page</a></li>
			</ul>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<i class="fa fa-key"></i>
				<span>Login & Register</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="member.login.v1">Login</a></li>
				<li ui-sref-active="active"><a ui-sref="member.login.v2">Login v2</a></li>
				<li ui-sref-active="active"><a ui-sref="member.login.v3">Login v3</a></li>
				<li ui-sref-active="active"><a ui-sref="member.register">Register v3</a></li>
			</ul>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<i class="fa fa-cubes"></i>
				<span>Version <span class="label label-theme">NEW</span></span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li><a href="../template_html/index_v2.html">HTML</a></li>
				<li><a href="../template_ajax/index.html">AJAX</a></li>
				<li><a href="../template_angularjs/index.html">ANGULAR JS</a></li>
				<li><a href="../template_angularjs10/index.html">ANGULAR JS 10 <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li><a href="../template_laravel/index.html">LARAVEL <i class="fa fa-paper-plane text-theme"></i></a></li>
				<li><a href="../template_material/index_v2.html">MATERIAL DESIGN</a></li>
				<li><a href="../template_apple/index_v2.html">APPLE DESIGN</a></li>
				<li><a href="../template_transparent/index_v2.html">TRANSPARENT DESIGN <i class="fa fa-paper-plane text-theme"></i></a></li>
			</ul>
		</li>
		<li class="has-sub" ng-class="{active:$state.includes('app.helper')}">
			<a href="javascript:;">
				<i class="fa fa-medkit"></i>
				<span>Helper</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li ui-sref-active="active"><a ui-sref="app.helper.css">Predefined CSS Classes</a></li>
			</ul>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<i class="fa fa-align-left"></i> 
				<span>Menu Level</span>
				<b class="caret"></b>
			</a>
			<ul class="sub-menu">
				<li class="has-sub">
					<a href="javascript:;">
						Menu 1.1
						<b class="caret"></b>
					</a>
					<ul class="sub-menu">
						<li class="has-sub">
							<a href="javascript:;">
								Menu 2.1
								<b class="caret"></b>
							</a>
							<ul class="sub-menu">
								<li><a href="javascript:;">Menu 3.1</a></li>
								<li><a href="javascript:;">Menu 3.2</a></li>
							</ul>
						</li>
						<li><a href="javascript:;">Menu 2.2</a></li>
						<li><a href="javascript:;">Menu 2.3</a></li>
					</ul>
				</li>
				<li><a href="javascript:;">Menu 1.2</a></li>
				<li><a href="javascript:;">Menu 1.3</a></li>
			</ul>
		</li>
		<li class="menu-control menu-control-left">
			<a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
		</li>
		<li class="menu-control menu-control-right">
			<a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
		</li>
	</ul>
	<!-- end top-menu nav -->
</div>
<!-- end #top-menu -->