html {
	height: 100%;
}
body {
	height: 100%;
	letter-spacing: $body-letter-spacing;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	@if $enable-rtl {
		direction: rtl;
		text-align: right;
	}
}
b {
	font-weight: bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	font-weight: normal;
	color: rgba($white, .75);
}
a {
	color: mix($white, $primary, 50%);
	
	&:hover,
	&:focus {
		color: mix($white, $primary, 75%);
	}
	&:focus {
		outline: none;
	}
}