<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	@@if (context.theme == 'default')
	{<script src="../assets/js/theme/default.min.js"></script>}@@if (context.theme == 'material')
	{<script src="../assets/js/theme/material.min.js"></script>}@@if (context.theme == 'apple')
	{<script src="../assets/js/theme/apple.min.js"></script>}@@if (context.theme == 'transparent')
	{<script src="../assets/js/theme/transparent.min.js"></script>}@@if (context.theme == 'facebook')
	{<script src="../assets/js/theme/facebook.min.js"></script>}@@if (context.theme == 'google')
	{<script src="../assets/js/theme/google.min.js"></script>}
	<!-- ================== END BASE JS ================== -->