<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar@@if(context.transparent) { sidebar-transparent}@@if(context.theme == 'facebook' && context.showBg == 'true') { bg-white}"@@if(context.theme == 'material') { data-disable-slide-animation="true"}>
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">@@if(!context.pageWithSearchSidebarClass){
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								@@if (context.theme != 'material') 
								{<img src="../assets/img/user/user-13.jpg" alt="" />}@@if (context.theme == 'material')
								{<img src="../assets/img/user/user-14.jpg" alt="" />}
							</div>
							<div class="info">
								<b class="caret pull-right"></b>@@if (context.theme != 'material') 
								{Sean Ngu}@@if (context.theme == 'material')
								{John Smith}
								<small>Front end developer</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-cog"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-cog"></i>}@@if (context.icon == 'lineicons') {<i class="icon-settings"></i>} Settings</a></li>
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-pencil-alt"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-share-alt"></i>}@@if (context.icon == 'lineicons') {<i class="icon-pencil"></i>} Send Feedback</a></li>
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-question-circle"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-help"></i>}@@if (context.icon == 'lineicons') {<i class="icon-question"></i>} Helps</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->}
				<!-- begin sidebar nav -->
				<ul class="nav">@@if(context.pageWithSearchSidebarClass){
					<li class="nav-search">
						<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
					</li>
					}<li class="nav-header">Navigation</li>
					<li class="has-sub@@if (context.dashboardClass) { @@dashboardClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-th-large"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">home</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-pulse"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-tv"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-screen-desktop"></i>}
							<span>Dashboard</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.dashboardV1Class) { class="@@dashboardV1Class"}><a href="index.html">Dashboard v1</a></li>
							<li@@if (context.dashboardV2Class) { class="@@dashboardV2Class"}><a href="index_v2.html">Dashboard v2</a></li>
							<li@@if (context.dashboardV3Class) { class="@@dashboardV3Class"}><a href="index_v3.html">Dashboard v3</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.emailClass) { @@emailClass}">
						<a href="javascript:;">
							<span class="badge pull-right">10</span>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-hdd"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">inbox</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-mail"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-mail"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-drawer"></i>}
							<span>Email</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.emailInboxClass) { class="@@emailInboxClass"}><a href="email_inbox.html">Inbox</a></li>
							<li@@if (context.emailComposeClass) { class="@@emailComposeClass"}><a href="email_compose.html">Compose</a></li>
							<li@@if (context.emailDetailClass) { class="@@emailDetailClass"}><a href="email_detail.html">Detail</a></li>
						</ul>
					</li>
					<li@@if (context.widgetClass) { class="@@widgetClass"}>
						<a href="widget.html">
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fab fa-simplybuilt"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">extension</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-nutrition bg-blue"></i> }@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-hammer"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-puzzle"></i>}
							<span>Widgets <span class="label label-theme">NEW</span></span> 
						</a>
					</li>
					<li class="has-sub@@if (context.uiElementsClass) { @@uiElementsClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-gem"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">toys</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-color-filter bg-indigo"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-brush"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-layers"></i>}
							<span>UI Elements <span class="label label-theme">NEW</span></span> 
						</a>
						<ul class="sub-menu">
							<li@@if (context.uiGeneralClass) { class="@@uiGeneralClass"}><a href="ui_general.html">General @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.uiTypographyClass) { class="@@uiTypographyClass"}><a href="ui_typography.html">Typography</a></li>
							<li@@if (context.uiTabsAccordionsClass) { class="@@uiTabsAccordionsClass"}><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
							<li@@if (context.uiUnlimitedTabsClass) { class="@@uiUnlimitedTabsClass"}><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
							<li@@if (context.uiModalNotificationClass) { class="@@uiModalNotificationClass"}><a href="ui_modal_notification.html">Modal & Notification @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.uiWidgetBoxesClass) { class="@@uiWidgetBoxesClass"}><a href="ui_widget_boxes.html">Widget Boxes</a></li>
							<li@@if (context.uiMediaObjectClass) { class="@@uiMediaObjectClass"}><a href="ui_media_object.html">Media Object</a></li>
							<li@@if (context.uiButtonsClass) { class="@@uiButtonsClass"}><a href="ui_buttons.html">Buttons @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.uiIconsClass) { class="@@uiIconsClass"}><a href="ui_icons.html">Icons</a></li>
							<li@@if (context.uiSimpleLineIconsClass) { class="@@uiSimpleLineIconsClass"}><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>
							<li@@if (context.uiIoniconsClass) { class="@@uiIoniconsClass"}><a href="ui_ionicons.html">Ionicons</a></li>
							<li@@if (context.uiTreeViewClass) { class="@@uiTreeViewClass"}><a href="ui_tree.html">Tree View</a></li>
							<li@@if (context.uiLanguageBarIconClass) { class="@@uiLanguageBarIconClass"}><a href="ui_language_bar_icon.html">Language Bar & Icon</a></li>
							<li@@if (context.uiSocialButtonsClass) { class="@@uiSocialButtonsClass"}><a href="ui_social_buttons.html">Social Buttons</a></li>
							<li@@if (context.uiIntroJsClass) { class="@@uiIntroJsClass"}><a href="ui_tour.html">Intro JS</a></li>
						</ul>
					</li>
					<li@@if (context.bootstrap4Class) { class="@@bootstrap4Class"}>
						<a href="bootstrap_4.html">
							<div class="icon-img">
								<img src="../assets/img/logo/logo-bs4.png" alt="" />
							</div>
							<span>Bootstrap 4 <span class="label label-theme">NEW</span></span> 
						</a>
					</li>
					<li class="has-sub@@if (context.formStuffClass) { @@formStuffClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-list-ol"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">insert_drive_file</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-briefcase bg-gradient-purple"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-document"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-docs"></i>}
							<span>Form Stuff <span class="label label-theme">NEW</span></span> 
						</a>
						<ul class="sub-menu">
							<li@@if (context.formElementsClass) { class="@@formElementsClass"}><a href="form_elements.html">Form Elements @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.formPluginsClass) { class="@@formPluginsClass"}><a href="form_plugins.html">Form Plugins @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.formSliderSwitcherClass) { class="@@formSliderSwitcherClass"}><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>
							<li@@if (context.formValidationClass) { class="@@formValidationClass"}><a href="form_validation.html">Form Validation</a></li>
							<li@@if (context.formWizardsClass) { class="@@formWizardsClass"}><a href="form_wizards.html">Wizards @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if (context.formWysiwygClass) { class="@@formWysiwygClass"}><a href="form_wysiwyg.html">WYSIWYG</a></li>
							<li@@if (context.formEditableClass) { class="@@formEditableClass"}><a href="form_editable.html">X-Editable</a></li>
							<li@@if (context.formMultipleUploadClass) { class="@@formMultipleUploadClass"}><a href="form_multiple_upload.html">Multiple File Upload</a></li>
							<li@@if (context.formSummernoteClass) { class="@@formSummernoteClass"}><a href="form_summernote.html">Summernote</a></li>
							<li@@if (context.formDropzoneClass) { class="@@formDropzoneClass"}><a href="form_dropzone.html">Dropzone</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.tablesClass) { @@tablesClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-table"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">grid_on</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-grid bg-green"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-grid"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-grid"></i>}
							<span>Tables</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.tableBasicClass) { class="@@tableBasicClass"}><a href="table_basic.html">Basic Tables</a></li>
							<li class="has-sub@@if (context.tableManagedClass) { @@tableManagedClass}">
								<a href="javascript:;"><b class="caret"></b> Managed Tables</a>
								<ul class="sub-menu">
									<li@@if (context.tableManageClass) { class="@@tableManageClass"}><a href="table_manage.html">Default</a></li>
									<li@@if (context.tableManageAutofillClass) { class="@@tableManageAutofillClass"}><a href="table_manage_autofill.html">Autofill</a></li>
									<li@@if (context.tableManageButtonsClass) { class="@@tableManageButtonsClass"}><a href="table_manage_buttons.html">Buttons</a></li>
									<li@@if (context.tableManageColreorderClass) { class="@@tableManageColreorderClass"}><a href="table_manage_colreorder.html">ColReorder</a></li>
									<li@@if (context.tableManageFixedColumnsClass) { class="@@tableManageFixedColumnsClass"}><a href="table_manage_fixed_columns.html">Fixed Column</a></li>
									<li@@if (context.tableManageFixedHeaderClass) { class="@@tableManageFixedHeaderClass"}><a href="table_manage_fixed_header.html">Fixed Header</a></li>
									<li@@if (context.tableManageKeytableClass) { class="@@tableManageKeytableClass"}><a href="table_manage_keytable.html">KeyTable</a></li>
									<li@@if (context.tableManageResponsiveClass) { class="@@tableManageResponsiveClass"}><a href="table_manage_responsive.html">Responsive</a></li>
									<li@@if (context.tableManageRowreorderClass) { class="@@tableManageRowreorderClass"}><a href="table_manage_rowreorder.html">RowReorder</a></li>
									<li@@if (context.tableManageScrollerClass) { class="@@tableManageScrollerClass"}><a href="table_manage_scroller.html">Scroller</a></li>
									<li@@if (context.tableManageSelectClass) { class="@@tableManageSelectClass"}><a href="table_manage_select.html">Select</a></li>
									<li@@if (context.tableManageCombineClass) { class="@@tableManageCombineClass"}><a href="table_manage_combine.html">Extension Combination</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="has-sub@@if (context.posSystemClass) { @@posSystemClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-cash-register"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">store</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-appstore bg-lime text-inverse"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-appstore"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-bag"></i>}
							<span>POS System <span class="label label-theme">NEW</span></span> 
						</a>
						<ul class="sub-menu">
							<li><a href="pos_customer_order.html" target="_blank">Customer Order</a></li>
							<li><a href="pos_kitchen_order.html" target="_blank">Kitchen Order</a></li>
							<li><a href="pos_counter_checkout.html" target="_blank">Counter Checkout</a></li>
							<li><a href="pos_table_booking.html" target="_blank">Table Booking</a></li>
							<li><a href="pos_menu_stock.html" target="_blank">Menu Stock</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-star"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">polymer</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-infinite bg-gradient-aqua"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-ice-cream"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-cup"></i>}
							<span>Front End</span>
						</a>
						<ul class="sub-menu">
							<li><a href="../../../frontend/template/template_one_page_parallax/index.html" target="_blank">One Page Parallax</a></li>
							<li><a href="../../../frontend/template/template_blog/index.html" target="_blank">Blog</a></li>
							<li><a href="../../../frontend/template/template_forum/index.html" target="_blank">Forum</a></li>
							<li><a href="../../../frontend/template/template_e_commerce/index.html" target="_blank">E-Commerce</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-envelope"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">email</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-archive bg-gradient-blue"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-briefcase"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-envelope"></i>}
							<span>Email Template</span>
						</a>
						<ul class="sub-menu">
							<li><a href="email_system.html">System Template</a></li>
							<li><a href="email_newsletter.html">Newsletter Template</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.chartClass) { @@chartClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-chart-pie"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">insert_chart</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-podium bg-gradient-orange"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-pie"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-chart"></i>}
							<span>Chart <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.chartFlotClass) { class="@@chartFlotClass"}><a href="chart-flot.html">Flot Chart</a></li>
							<li@@if (context.chartJsClass) { class="@@chartJsClass"}><a href="chart-js.html">Chart JS</a></li>
							<li@@if (context.chartD3Class) { class="@@chartD3Class"}><a href="chart-d3.html">d3 Chart</a></li>
							<li@@if (context.chartApexClass) { class="@@chartApexClass"}><a href="chart-apex.html">Apex Chart @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
						</ul>
					</li>
					<li@@if (context.calendarClass) { class="@@calendarClass"}>
						<a href="calendar.html">
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-calendar"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">date_range</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-calendar bg-pink"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-calendar"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-calendar"></i>} 
							<span>Calendar</span>
						</a>
					</li>
					<li class="has-sub@@if (context.mapClass) { @@mapClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-map"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">place</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-map bg-pink"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-map"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-map"></i>}
							<span>Map</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.mapVectorClass) { class="@@mapVectorClass"}><a href="map_vector.html">Vector Map</a></li>
							<li@@if (context.mapGoogleClass) { class="@@mapGoogleClass"}><a href="map_google.html">Google Map</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.galleryClass) { @@galleryClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-image"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">camera</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-images"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-image"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-picture"></i>}
							<span>Gallery</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.galleryV1Class) { class="@@galleryV1Class"}><a href="gallery.html">Gallery v1</a></li>
							<li@@if (context.galleryV2Class) { class="@@galleryV2Class"}><a href="gallery_v2.html">Gallery v2</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.pageOptionsClass) { @@pageOptionsClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-cogs"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">settings</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-cog"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-settings"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-settings"></i>}
							<span>Page Options <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.pageBlankClass) { class="@@pageBlankClass"}><a href="page_blank.html">Blank Page</a></li>
							<li@@if (context.pageWithFooterClass) { class="@@pageWithFooterClass"}><a href="page_with_footer.html">Page with Footer</a></li>
							<li@@if (context.pageWithoutSidebarClass) { class="@@pageWithoutSidebarClass"}><a href="page_without_sidebar.html">Page without Sidebar</a></li>
							<li@@if (context.pageWithRightSidebarClass) { class="@@pageWithRightSidebarClass"}><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
							<li@@if (context.pageWithMinifiedSidebarClass) { class="@@pageWithMinifiedSidebarClass"}><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
							<li@@if (context.pageWithTwoSidebarClass) { class="@@pageWithTwoSidebarClass"}><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>
							<li@@if (context.pageWithLineIconsClass) { class="@@pageWithLineIconsClass"}><a href="page_with_line_icons.html">Page with Line Icons</a></li>
							<li@@if (context.pageWithIoniconsClass) { class="@@pageWithIoniconsClass"}><a href="page_with_ionicons.html">Page with Ionicons</a></li>
							<li@@if (context.pageFullHeightClass) { class="@@pageFullHeightClass"}><a href="page_full_height.html">Full Height Content</a></li>@@if (context.theme == 'material' || context.theme == 'google'){
							<li@@if (context.pageWithSmallSidebarClass) { class="@@pageWithSmallSidebarClass"}><a href="page_with_small_sidebar.html">Page with Small Sidebar</a></li>}@@if (context.theme != 'material' && context.theme != 'google'){
							<li@@if (context.pageWithWideSidebarClass) { class="@@pageWithWideSidebarClass"}><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>}@@if (context.theme != 'transparent' && context.theme != 'facebook'  && context.theme != 'google'){
							<li@@if (context.pageWithLightSidebarClass) { class="@@pageWithLightSidebarClass"}><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>}@@if (context.theme == 'google'){
							<li@@if (context.pageWithDarkSidebarClass) { class="@@pageWithDarkSidebarClass"}><a href="page_with_dark_sidebar.html">Page with Dark Sidebar</a></li>}
							<li@@if (context.pageWithMegaMenuClass) { class="@@pageWithMegaMenuClass"}><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>
							<li@@if (context.pageWithTopMenuClass) { class="@@pageWithTopMenuClass"}><a href="page_with_top_menu.html">Page with Top Menu</a></li>
							<li@@if (context.pageWithBoxedLayoutClass) { class="@@pageWithBoxedLayoutClass"}><a href="page_with_boxed_layout.html">Page with Boxed Layout</a></li>
							<li@@if (context.pageWithMixedMenuClass) { class="@@pageWithMixedMenuClass"}><a href="page_with_mixed_menu.html">Page with Mixed Menu</a></li>
							<li@@if (context.pageBoxedLayoutWithMixedMenuClass) { class="@@pageBoxedLayoutWithMixedMenuClass"}><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu</a></li>@@if (context.theme != 'transparent' && context.theme != 'facebook'){
							<li@@if (context.pageWithTransparentSidebarClass) { class="@@pageWithTransparentSidebarClass"}><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar</a></li>}
							<li@@if (context.pageWithSearchSidebarClass) { class="@@pageWithSearchSidebarClass"}><a href="page_with_search_sidebar.html">Page with Search Sidebar @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.extraClass) { @@extraClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-gift"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">card_giftcard</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-heart"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-star"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-rocket"></i>}
							<span>Extra <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li@@if(context.extraTimelineClass) { class="@@extraTimelineClass"}><a href="extra_timeline.html">Timeline</a></li>
							<li@@if(context.extraComingSoonClass) { class="@@extraComingSoonClass"}><a href="extra_coming_soon.html">Coming Soon Page</a></li>
							<li@@if(context.extraSearchResultsClass) { class="@@extraSearchResultsClass"}><a href="extra_search_results.html">Search Results</a></li>
							<li@@if(context.extraInvoiceClass) { class="@@extraInvoiceClass"}><a href="extra_invoice.html">Invoice</a></li>
							<li@@if(context.extra404ErrorClass) { class="@@extra404ErrorClass"}><a href="extra_404_error.html">404 Error Page</a></li>
							<li@@if(context.extraProfileClass) { class="@@extraProfileClass"}><a href="extra_profile.html">Profile Page</a></li>
							<li@@if(context.extraScrumBoardClass) { class="@@extraScrumBoardClass"}><a href="extra_scrum_board.html">Scrum Board @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li@@if(context.extraCookieAcceptanceBannerClass) { class="@@extraCookieAcceptanceBannerClass"}><a href="extra_cookie_acceptance_banner.html">Cookie Acceptance Banner @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.loginRegisterClass) { @@loginRegisterClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-key"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">lock</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-lock"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-person"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-login"></i>}
							<span>Login & Register</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.loginClass) { class="@@loginClass"}><a href="login.html">Login</a></li>
							<li@@if (context.loginV2Class) { class="@@loginV2Class"}><a href="login_v2.html">Login v2</a></li>
							<li@@if (context.loginV3Class) { class="@@loginV3Class"}><a href="login_v3.html">Login v3</a></li>
							<li@@if (context.registerV3Class) { class="@@registerV3Class"}><a href="register_v3.html">Register v3</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-cubes"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">apps</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-flower"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-cube"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-diamond"></i>}
							<span>Version <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li><a href="../template_html/index_v3.html">HTML</a></li>
							<li><a href="../template_ajax/">AJAX</a></li>
							<li><a href="../template_angularjs/">ANGULAR JS</a></li>
							<li><a href="../template_angularjs10/">ANGULAR JS 10</a></li>
							<li><a href="javascript:alert('Laravel Version only available in downloaded version.');">LARAVEL</a></li>
							<li><a href="../template_vuejs/">VUE JS</a></li>
							<li><a href="../template_reactjs/">REACT JS</a></li>
							<li><a href="javascript:alert('.NET Core 3.1 MVC Version only available in downloaded version.');">ASP.NET @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li><a href="../template_material/index_v3.html">MATERIAL DESIGN</a></li>
							<li><a href="../template_apple/index_v3.html">APPLE DESIGN</a></li>
							<li><a href="../template_transparent/index_v3.html">TRANSPARENT DESIGN @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li><a href="../template_facebook/index_v3.html">FACEBOOK DESIGN @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
							<li><a href="../template_google/index_v3.html">GOOGLE DESIGN @@if (!context.icon) {<i class="fa fa-paper-plane text-theme"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-paper-plane text-theme"></i>}@@if (context.icon == 'lineicons') {<i class="icon-paper-plane text-theme"></i>}</a></li>
						</ul>
					</li>
					<li class="has-sub@@if (context.helperClass) { @@helperClass}">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-medkit"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">help</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-medkit"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-medkit"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-key"></i>}
							<span>Helper</span>
						</a>
						<ul class="sub-menu">
							<li@@if (context.helperCssClass) { class="@@helperCssClass"}><a href="helper_css.html">Predefined CSS Classes</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-align-left"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">list</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-list"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-git-branch"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-list"></i>}
							<span>Menu Level</span>
						</a>
						<ul class="sub-menu">
							<li class="has-sub">
								<a href="javascript:;">
									<b class="caret"></b>
									Menu 1.1
								</a>
								<ul class="sub-menu">
									<li class="has-sub">
										<a href="javascript:;">
											<b class="caret"></b>
											Menu 2.1
										</a>
										<ul class="sub-menu">
											<li><a href="javascript:;">Menu 3.1</a></li>
											<li><a href="javascript:;">Menu 3.2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;">Menu 2.2</a></li>
									<li><a href="javascript:;">Menu 2.3</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">Menu 1.2</a></li>
							<li><a href="javascript:;">Menu 1.3</a></li>
						</ul>
					</li>@@if(context.theme != 'google') {
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">@@if(context.theme != 'apple') {<i class="fa fa-angle-double-left"></i>}@@if(context.theme == 'apple') {<i class="ion-ios-arrow-back"></i> <span>Collapse</span>}</a></li>
					<!-- end sidebar minify button -->}
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->