<!DOCTYPE html>
<html lang="en" ng-app="colorAdminApp">
<head>
	<meta charset="utf-8" />
	<title data-ng-bind="'AngularJS | ' + $state.current.data.pageTitle">AngularJS</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE ANGULAR JS ================== -->
	<script src="../assets/plugins/angular/angular.min.js"></script>
	<script src="../assets/plugins/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="../assets/plugins/angular-ui-router/release/stateEvents.min.js"></script>
	<script src="../assets/plugins/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="../assets/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
	<!-- ================== END BASE ANGULAR JS ================== -->
</head>
<body ng-controller="appController" ng-class="{'pace-top': setting.layout.paceTop, 'boxed-layout': setting.layout.pageBoxedLayout, 'bg-white': setting.layout.pageBgWhite }">
    
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container page-sidebar-fixed page-header-fixed fade"
		ng-class="{
			'page-sidebar-minified': setting.layout.pageSidebarMinified,
			'page-content-full-height': setting.layout.pageContentFullHeight,
			'page-footer-fixed': setting.layout.pageFixedFooter,
			'page-with-right-sidebar': setting.layout.pageRightSidebar,
			'page-sidebar-minified': setting.layout.pageSidebarMinified,
			'page-with-two-sidebar': setting.layout.pageTwoSidebar,
			'page-with-top-menu': setting.layout.pageTopMenu,
			'page-without-sidebar': setting.layout.pageWithoutSidebar,
			'page-with-wide-sidebar': setting.layout.pageWideSidebar,
			'page-with-light-sidebar': setting.layout.pageLightSidebar,
			'p-t-0': setting.layout.pageWithoutHeader
		}">
		<div ui-view></div>
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="angular-app.js"></script>
	<script src="angular-setting.js"></script>
	<script src="angular-controller.js"></script>
	<script src="angular-directive.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>
