<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav" ng-if="!setting.layout.pageSidebarSearch">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image image-icon bg-black text-grey-darker">
            <i class="fa fa-user"></i>
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            Sean Ngu
            <small>Front end developer</small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
          <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
        </ul>
      </li>
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
    	<li class="nav-search" ng-if="setting.layout.pageSidebarSearch">
				<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
			</li>
      <li class="nav-header">Navigation</li>
      <li ui-sref-active="active">
        <a ui-sref="app.home">
					<i class="fa fa-th-large"></i>
					<span>Home</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-align-left"></i> 
					<span>Menu Level</span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
							Menu 1.1
							<b class="caret"></b>
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
									Menu 2.1
									<b class="caret"></b>
                </a>
                <ul class="sub-menu">
                  <li><a href="javascript:;">Menu 3.1</a></li>
                  <li><a href="javascript:;">Menu 3.2</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 2.2</a></li>
              <li><a href="javascript:;">Menu 2.3</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Menu 1.2</a></li>
          <li><a href="javascript:;">Menu 1.3</a></li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->