.title {
  color: #000;
  margin-bottom: 15px !important;
  font-size: 18px;
  font-weight: 530;
}
.ticketCardWidth {
  width: 20em;
}

.card-footer{
  padding:  2em;
}

.card{
  width: 23rem;
}

.card-link button{
  margin: 0;
  padding: 5px 7px;
}