<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar@@if(context.transparent) { sidebar-transparent}@@if(context.theme == 'facebook' && context.showBg == 'true') { bg-white}"@@if(context.theme == 'material') { data-disable-slide-animation="true"}>
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">@@if(!context.pageWithSearchSidebarClass){
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image image-icon bg-black text-grey-darker">
								@@if(context.theme != 'material' && context.theme != 'google'){<i class="fa fa-user"></i>}@@if(context.theme == 'material' || context.theme == 'google')
								{<i class="material-icons">person</i>}
							</div>
							<div class="info">
								<b class="caret pull-right"></b>@@if (context.theme != 'material') 
								{Sean Ngu}@@if (context.theme == 'material')
								{John Smith}
								<small>Front end developer</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-cog"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-cog"></i>}@@if (context.icon == 'lineicons') {<i class="icon-settings"></i>} Settings</a></li>
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-pencil-alt"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-share-alt"></i>}@@if (context.icon == 'lineicons') {<i class="icon-pencil"></i>} Send Feedback</a></li>
							<li><a href="javascript:;">@@if (!context.icon) {<i class="fa fa-question-circle"></i>}@@if (context.icon == 'ionicons') {<i class="ion-ios-help"></i>}@@if (context.icon == 'lineicons') {<i class="icon-question"></i>} Helps</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->}
				<!-- begin sidebar nav -->
				<ul class="nav">@@if(context.pageWithSearchSidebarClass){
					<li class="nav-search">
						<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
					</li>
					}<li class="nav-header">Navigation</li>
					<li class="@@if (context.homeClass) {@@homeClass}">
						<a href="index.html">
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-th-large"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">home</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-pulse"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-tv"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-screen-desktop"></i>}
							<span>Home</span>
						</a>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							@@if (!context.icon && (context.theme == 'default' || context.theme == 'transparent' || context.theme == 'facebook')) 
							{<i class="fa fa-align-left"></i>}@@if (!context.icon && (context.theme == 'material' || context.theme == 'google'))
							{<i class="material-icons">list</i>}@@if (!context.icon && context.theme == 'apple')
							{<i class="ion-ios-list"></i>}@@if (context.icon == 'ionicons') 
							{<i class="ion-ios-git-branch"></i>}@@if (context.icon == 'lineicons') 
							{<i class="icon-list"></i>}
							<span>Menu Level</span>
						</a>
						<ul class="sub-menu">
							<li class="has-sub">
								<a href="javascript:;">
									<b class="caret"></b>
									Menu 1.1
								</a>
								<ul class="sub-menu">
									<li class="has-sub">
										<a href="javascript:;">
											<b class="caret"></b>
											Menu 2.1
										</a>
										<ul class="sub-menu">
											<li><a href="javascript:;">Menu 3.1</a></li>
											<li><a href="javascript:;">Menu 3.2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;">Menu 2.2</a></li>
									<li><a href="javascript:;">Menu 2.3</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">Menu 1.2</a></li>
							<li><a href="javascript:;">Menu 1.3</a></li>
						</ul>
					</li>@@if(context.theme != 'google') {
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">@@if(context.theme != 'apple') {<i class="fa fa-angle-double-left"></i>}@@if(context.theme == 'apple') {<i class="ion-ios-arrow-back"></i> <span>Collapse</span>}</a></li>
					<!-- end sidebar minify button -->}
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->